@CHARSET "UTF-8";

#deongeori_create_wrap .deongeori_create_title {
	margin: 100px 0 0 400px;
	width: 200px;
	padding: 3px;
	text-align: center;
	background: skyblue;
	border-radius: 15px;
	font-size: 30px; 
}

/* 게시물이 보여지는 테이블 영역 */
#deongeori_create_t {	
	padding: 0;
	margin-top: 30px;
	margin-bottom: 120px;
	margin-left:auto;
	margin-right:auto;
	width: 500px;
	padding: 20px;
	border: 1px solid blue;
	border-radius: 15px;
	box-shadow: 10px 10px 10px #489CFF;	
}

#deongeori_create_t th {
	background: pink;
	border-radius: 10px;
}
